.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    
}

.logo{
    width: 200px;
    height: 100px;  
}

.nav-items ul{
    font-size: 20px;
    display: flex;
    list-style-type: none;
    padding: 0 20px;
}

.nav-items ul li{
    padding: 10px;
    margin: 10px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}
.res-card{
    width: 200px;
    margin: 5px;
    padding: 5px;
}

.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}

.res-logo{
    width: 100%;
}